---
Checks: 'clang-diagnostic-*,clang-analyzer-*,performance-*,-clang-analyzer-optin.core.EnumCastOutOfRange,-clang-analyzer-unix.Malloc,-clang-diagnostic-unused-function'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
CheckOptions:
  - key: llvm-else-after-return.WarnOnConditionVariables
    value: 'false'
...

