---
Checks: 'clang-diagnostic-*,clang-analyzer-*,performance-*,-clang-analyzer-optin.core.EnumCastOutOfRange'
WarningsAsErrors: '*,-clang-analyzer-unix.Malloc'
HeaderFilterRegex: ''
CheckOptions:
  - key: llvm-else-after-return.WarnOnConditionVariables
    value: 'false'
...

